<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This Is Secret Page This Page is valid for Authorized users</h1>
    <h2>Name: {{name}}</h2>
    <h2>Email: {{email}}</h2>
    <p>{{message}}</p>
    <a href="/">Home</a>
    <a href="/signup">Sign up</a>
    <a href="/signin">Sign in</a>
    <a href="/secret">Secret</a>
    <br>
    <button style="margin-top: 10px;"><a style="text-decoration: none;color:black" href="/logout">Logout</a></button>
</body>

</html>